* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(29, 147, 147);
    overflow: hidden;
}

.imagem {
    background-image: url(../image/bg-pattern-card.svg);
    width: 100%;
    height: 135px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.divisao-principal {
    background-color: white;
    color: black;
    text-align: center;
    width: 350px;
    height: 420px;
    border-radius: 25px;
    position: relative;
}
.cima {
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    width: 100%;
    margin-bottom: 20px;
}
.cima img {
    position: relative;
    border-radius: 50%;
    bottom: 40px;
}
.cima h1 {
    position: relative;
    bottom: 20px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.cima p {
    position: relative;
    bottom: 20px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.707);
}

.baixo {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 10px 30px;
}
.baixo .div1 h2 {
    font-size: 17px;
}
.baixo .div1 p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.707);
}
.div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.imagem1 {
    background-image: url(../image/bg-pattern-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 800px;
    position: absolute;
    top: -400px;
    left: -300px;
    z-index: -1;
    transform: rotate(-125deg);
}
.imagem2 {
    background-image: url(../image/bg-pattern-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: -450px;
    right: -200px;
    z-index: -1;
}